extends ../layout/index

block contenido 

    //- Seccion Formulario
    section(class="sm:mx-auto px-5 sm:p-1 py-5 flex justify-center flex-col min-h-screen items-center")
        //- Mensajes de Error
        if errores
            div(class="max-w-md mx-auto my-2  space-y-1")
                each error in errores
                    p(class="text-white uppercase text-center font-bold text-md bg-red-500 rounded-md p-2")=error.msg

        div(class="bg-gray-100 rounded-2xl shadow-lg md:max-w-3xl md:p-5 md:min-w-0 min-w-full flex min-h-96")
            //- Formulario
            div(class="md:w-1/2 w-full px-2 my-auto")
                h2(class="md:text-start text-center font-bold text-2xl text-[#002D74]")= pagina 
                p(class="md:text-start text-center text-sm mt-4 text-[#002D74]") SI ya tienes Cuenta, inicia sesión.

                form(action="/usuario/registro" method="POST" class="flex flex-col gap-4")

                    input(type="hidden" name="_csrf" value=csrfToken)

                    input(class="p-2 rounded-xl border mt-8" type="text" name="nombre" placeholder="Ingresa tú Nombre..." value= camposUsuario ? camposUsuario.nombre : '') 
                    input(class="p-2 rounded-xl border " type="text" name="usuario" placeholder="Ingresa tú Usuario..." value= camposUsuario ? camposUsuario.usuario : '') 
                    input(class="p-2 rounded-xl border " type="email" name="email" placeholder="Ingresa tú Email..." value= camposUsuario ? camposUsuario.email : '') 
                    input(class="p-2 rounded-xl border " type="password" name="password" placeholder="Ingresa tú Password...") 
                    input(class="p-2 rounded-xl border " type="password" name="password_2" placeholder="Repite tú Password...") 
                    button(type="submit" class="bg-[#002D74] rounded-xl text-white py-2") Registrarse

                div(class="flex items-center justify-center mt-5")
                    a(class="text-gray-500 text-xs text-center block" href="/usuario/login") ¿Ya tienes Cuenta? Inicia Sesión 

            //- Imagen
            div(class="w-1/2 hidden md:flex sm:justify-center")
                img(class="rounded-2xl h-full" src="/img/login.jpg", alt="")
        
